{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/tasks/style.css' %}">
    <title>Stud.Task Tasks</title>
{% endblock %}

{% block main %}
  <main class="main">
    <div class="container">
      <div class="main__container flex">
        <div class="main__tags tags">
          <h2 class="tags__title title">
            Теги
          </h2>
          <div class="tags__all">
            {% for i_tag in tags %}
              <a href="{% url 'tag_detail' i_tag.id %}">{{ i_tag }}</a>
            {% endfor %}
          </div>
          <div class="tags__btn">
            <a class="button" href="{% url 'tasks' %}">Сбросить тег</a>
          </div>
        </div>
        <div class="main__tasks tasks">
          <div class="tasks__title title">
            {% if tag %}
                Задания по '{{ tag|upper }}'
            {% else %}
                Все задания
            {% endif %}
          </div>

          {% for task in page_obj %}
          <div class="tasks__block">
            <div class=" flex">
              <div class="tasks__block-left">
                <div>{{ task.pub_date|date:"G:i" }}</div>
                <div>{{ task.pub_date|date:"d/m/y" }}</div>
              </div>
              <div class="tasks__block-middle">
                <a href="{% url 'task_detail' pk=task.id %}">{{ task.title }}</a>
              </div>
              <div class="tasks__block-right">
                <a href="{% url 'customer-detail' task.user.id %}">{{ task.user.profilecustomermodel.company }}</a>
              </div>
            </div>
            <div class="bottom_tags">
              Тэги:
              {% for tag in task.tags.all %}
                {{ tag }}&nbsp&nbsp
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          {% include 'navigation.html' %}
          </div>
        </div>
      </div>
  </main>
{% endblock %}