/* main */

.main {
  margin-bottom: 50px;
}

.main__container {
  justify-content: space-between;
  align-items: flex-start;
}

.main__tags {
  background-color: var(--color-white);
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  margin-right: 50px;
}

.tags__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.tags__all {
  margin-bottom: 20px;
}

.tags__all a {
  display: block;
}

.tags__btn {
  text-align: center;
}

.tags__btn .button {
  background-color: var(--color-gray);
  padding: 5px 30px;
  border-radius: 5px;
  color: var(--color-black);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  text-decoration: none;
}

.main__rating {
  width: 70%;
  background-color: var(--color-gray);
  border-radius: 15px;
  padding: 20px;
}

.rating__title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 20px;
}

.rating__block {
  align-items: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  background-color: var(--color-white);
}

.rating__block:not(:last-child) {
  margin-bottom: 15px;
}

.descr__place,.rating__block-place{
    width: 6%;
    text-align: center;
}

.descr__rating,.rating__block-rating{
    width: 10%;
    text-align: center;
}

.descr__count_task,.rating__block-count_task{
    width: 15%;
    text-align: center;
}

.descr__middle_point,.rating__block-middle_point{
    width: 15%;
    text-align: center;
}

.descr__user,.rating__block-user{
    width: 54%;
    text-align: center;
}

.rating__block-rating,.rating__block-middle_point{
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.user{
    border-radius: 3px;
    background-color: var(--color-light-gray);
}

.user:not(:last-child){
    margin-bottom: 5px;
}

.content-rating__descr{
    margin-bottom: 3px;
}

.rating__block {
    padding: 7px 10px;
}



